body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-highlight{
    color:orange;
}

.half_width{
    width: 40%;
    float: left;
    margin-left: 5% ;
    margin-right: 5%;
}

.half_width img{
    width: 100%;
}

.top_header{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
}

section{
    height: 500px;
}

.link{
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border-radius: 10%;
    color: #fff;
    font-size: 18px;
}