body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.name-highlight{
    color:orange;
}

.half_width{
    width: 38%;
    float: left;
    margin-left: 5% ;
    margin-right: 5%;
}

.half_width img{
    width: 100%;
}

.top_header{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
}

section{
    height: 500px;
}

.link{
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    border-radius: 10%;
    color: #fff;
    font-size: 18px;
    margin-top: 25px;
}
h3{
    font-size: 25px;
}

.dream_area{
    margin-top: 35px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience_area{
    margin-top: 15px;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}




.experience_area h3{
    text-align: center;
    margin-bottom: 40px;
    background-color: tomato;
    color: #fff;
    
}
.experience {
    box-shadow: 10px 10px 40px gray;
    border-left: 6px solid springgreen;
    height: 60%;
    
    
}

.experience1 {
    box-shadow: 10px 10px 40px gray;
    border-left: 6px solid crimson;
    height: 60%;
}

p, h4,h5{
    padding: 5px;
}

footer{
    text-align: center;
    background-color: green;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}